.split-horiz {
  display: flex;
  flex-direction: row;
}

.split-vert {
  display: flex;
  flex-direction: column;
}

.gutter {
  background-color: rgb(72, 72, 72);
  background-repeat: no-repeat;
  background-position: 50%;
  transition: ease 0.2s;
  z-index: 1;
}

.gutter:hover {
  background-color: rgb(0, 149, 255);
  transition: ease 0.2s;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  cursor: row-resize;
}
